In [10]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [11]:
%aimport finbox
import pandas as pd

In [15]:
spy = finbox.data.equity.get_history('SPY', fromdate='2018-01-01',
                                     todate='2018-03-15', set_index=True)
lqd = finbox.data.equity.get_history('LQD', fromdate='2018-01-01',
                                     todate='2018-03-15', set_index=True)
weights = pd.DataFrame({'SPY': 1, 'LQD': 0}, index=spy.index)
weights.iloc[2:5, :] = [.5, .5]

In [23]:
spy.index

DatetimeIndex(['2018-01-02', '2018-01-03', '2018-01-04', '2018-01-05',
               '2018-01-08', '2018-01-09', '2018-01-10', '2018-01-11',
               '2018-01-12', '2018-01-16', '2018-01-17', '2018-01-18',
               '2018-01-19', '2018-01-22', '2018-01-23', '2018-01-24',
               '2018-01-25', '2018-01-26', '2018-01-29', '2018-01-30',
               '2018-01-31', '2018-02-01', '2018-02-02', '2018-02-05',
               '2018-02-06', '2018-02-07', '2018-02-08', '2018-02-09',
               '2018-02-12', '2018-02-13', '2018-02-14', '2018-02-15',
               '2018-02-16', '2018-02-20', '2018-02-21', '2018-02-22',
               '2018-02-23', '2018-02-26', '2018-02-27', '2018-02-28',
               '2018-03-01', '2018-03-02', '2018-03-05', '2018-03-06',
               '2018-03-07', '2018-03-08', '2018-03-09', '2018-03-12',
               '2018-03-13', '2018-03-14'],
              dtype='datetime64[ns]', name='Date', freq=None)

In [26]:
x = spy.index.tz_localize('UTC')

In [17]:
strat = finbox.backtest.build_weights_rebalance_strategy(
    tickers=['SPY', 'LQD'],
    weights=weights,
    datasets=[spy, lqd],
    lazy_rebalance=True,
    is_debug=False,
    commission_settings=[{'commission': 0.01}]
)

In [40]:
from finbox.backtest.pyfolio import show_perf_stats

In [52]:
show_perf_stats(rb.returns, positions=rb.positions, transactions=rb.transactions, pandas=True)

                     Backtest
Annual return           -6.5%
Cumulative returns      -1.3%
Annual volatility       19.1%
Sharpe ratio        -0.255989
Calmar ratio        -0.641806
Stability             0.14704
Max drawdown           -10.1%
Omega ratio           0.95466
Sortino ratio       -0.320875
Skew                 -1.26275
Kurtosis              2.76651
Tail ratio           0.838401
Daily value at risk     -2.4%
Gross leverage       0.977791
Daily turnover           8.0%

In [47]:
rb.positions

                                     SPY           LQD           cash
Datetime
2018-01-02 00:00:00+00:00       0.000000      0.000000  100000.000000
2018-01-03 00:00:00+00:00   99627.611317      0.000000       8.563924
2018-01-04 00:00:00+00:00  100047.525604      0.000000       8.563924
2018-01-05 00:00:00+00:00   49689.257370  49490.519085     186.925084
2018-01-08 00:00:00+00:00   49780.123206  49486.430560     186.925084
2018-01-09 00:00:00+00:00   49892.802750  49306.306161     186.925084
2018-01-10 00:00:00+00:00   98025.953850      0.000000     233.977108
2018-01-11 00:00:00+00:00   98741.154816      0.000000     233.977108
2018-01-12 00:00:00+00:00   99384.849264      0.000000     233.977108
2018-01-16 00:00:00+00:00   99045.130992      0.000000     233.977108
2018-01-17 00:00:00+00:00   99989.182974      0.000000     233.977108
2018-01-18 00:00:00+00:00   99821.127486      0.000000     233.977108
2018-01-19 00:00:00+00:00  100275.276756      0.000000     233.977108
2018-01-22 00:00:00+00:00  101090.600682      0.000000     233.977108
2018-01-23 00:00:00+00:00  101305.176600      0.000000     233.977108
2018-01-24 00:00:00+00:00  101265.837822      0.000000     233.977108
2018-01-25 00:00:00+00:00  101308.728630      0.000000     233.977108
2018-01-26 00:00:00+00:00  102481.686528      0.000000     233.977108
2018-01-29 00:00:00+00:00  101802.227658      0.000000     233.977108
2018-01-30 00:00:00+00:00  100758.042102      0.000000     233.977108
2018-01-31 00:00:00+00:00  100808.114562      0.000000     233.977108
2018-02-01 00:00:00+00:00  100693.672584      0.000000     233.977108
2018-02-02 00:00:00+00:00   98501.581830      0.000000     233.977108
2018-02-05 00:00:00+00:00   94381.982088      0.000000     233.977108
2018-02-06 00:00:00+00:00   96241.525242      0.000000     233.977108
2018-02-07 00:00:00+00:00   95719.421118      0.000000     233.977108
2018-02-08 00:00:00+00:00   92129.101662      0.000000     233.977108
2018-02-09 00:00:00+00:00   93513.016836      0.000000     233.977108
2018-02-12 00:00:00+00:00   94886.203818      0.000000     233.977108
2018-02-13 00:00:00+00:00   95122.236120      0.000000     233.977108
2018-02-14 00:00:00+00:00   96406.017354      0.000000     233.977108
2018-02-15 00:00:00+00:00   97636.162752      0.000000     233.977108
2018-02-16 00:00:00+00:00   97664.767848      0.000000     233.977108
2018-02-20 00:00:00+00:00   97053.263832      0.000000     233.977108
2018-02-21 00:00:00+00:00   96570.509466      0.000000     233.977108
2018-02-22 00:00:00+00:00   96695.674146      0.000000     233.977108
2018-02-23 00:00:00+00:00   98236.944432      0.000000     233.977108
2018-02-26 00:00:00+00:00   99377.700918      0.000000     233.977108
2018-02-27 00:00:00+00:00   98136.810492      0.000000     233.977108
2018-02-28 00:00:00+00:00   97142.686050      0.000000     233.977108
2018-03-01 00:00:00+00:00   95730.154800      0.000000     233.977108
2018-03-02 00:00:00+00:00   96223.642848      0.000000     233.977108
2018-03-05 00:00:00+00:00   97335.783258      0.000000     233.977108
2018-03-06 00:00:00+00:00   97582.538628      0.000000     233.977108
2018-03-07 00:00:00+00:00   97546.785186      0.000000     233.977108
2018-03-08 00:00:00+00:00   98018.816484      0.000000     233.977108
2018-03-09 00:00:00+00:00   99724.567902      0.000000     233.977108
2018-03-12 00:00:00+00:00   99599.414202      0.000000     233.977108
2018-03-13 00:00:00+00:00   98955.731100      0.000000     233.977108
2018-03-14 00:00:00+00:00   98447.923668      0.000000     233.977108

In [45]:
rb = finbox.backtest.ReportBuilder
rb = rb(strat, live_start_date=None)